/EDS/obj
/EDS/bin
/EDS/ToggleSwitch/obj
/EDS/ToggleSwitch/bin
/Zoom/obj
/Zoom/bin
/MockupDesign/obj
/MockupDesign/bin
/ResourceLib/obj
/ResourceLib/bin
/packages
/.vs
/Zoom/.vs
/ResourceLib/.vs
/MockupDesign/.vs
/EDS/.vs
